"custom_attributes": {
     "graylog-server": {
       "memory": "{{ graylog3_jvm_graylog_heap }}"
     },
     "elasticsearch": {
       "memory": "{{ graylog3_jvm_elasticsearch_heap }}"
     }
   }

